@import url('https://fonts.google.com/noto/specimen/Noto+Serif');
/*Fonte da letra (Google fontes)*/

* {
    padding: 0;
    /*Zerando o preenchimento*/
    margin: 0;
    /*Zerando a margin(top, bottom, right, left*/
    list-style: none;
    /*remover os marcadores de listas da <ul> */
    font-family: "Noto Serif", serif;
    /*Fonte da letra (Google fontes)*/
}

body {
    background-color: white;
    width: 100%;
    height: 100vh;
    transition: background-color 0.5s, color 0.5s; 
    color: green;
}

/*Início da estilização do Header*/
header {
    padding: min(3vh, 4rem);
    /*Colocando um tamanho (Preenchimento) no Header*/
    width: 100%;
    background-color: transparent;
    /*Habilitando uma cor de fundo*/
    display: flex;
    /*Tornando nosso Header Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*Justificativa do conteúdo*/
    align-items: center;
    /*Alinhamento na vertical - Deixando habilitada ao centro*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.21rem 0.5rem;


}



/*Chamamos nossa logo(img) para estilização*/
header img {
    width: 140px;
    /*Largura da imagem*/
    height: auto;
    /*Altura da imagem ( automático) */
}


/*Chamamos nossa lista não ordenada para estilização*/
header div nav ul {
    display: flex;
    /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/
    gap: 20px;
    /*Espaçamento entre os elementos*/

}

/*Chamamos nossa âncora (a) para estilização*/
header div nav ul li a {
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    text-decoration: none;
    /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: green; 
    /*Cor da Letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
}

header>button {
    
    padding: 8px;
    background-color:  #8faca1;
    border: none;
   
}


header>button>a {
   
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.section-1 {
    padding: min(20vh, 7rem);
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.section-1 h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #113e4e;
    margin: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .9);
    border-radius: 10px; 
    z-index: 1;
    background-color: aliceblue;
    opacity: 0.8; 
}

.container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #acccb5;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
}


/*Início da estilização do Footer/Rodapé da pagina*/
footer {
    padding: min(3vh, 4rem);
    /*Tamanho/preenchimento do Footer*/
    background-color: transparent;
    /*Cor de fundo*/
    display: flex;
    /*Tornando o Footer Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly;
    /*Justificativa do conteúdo*/
    gap: 15px;
    /*Espaçamento entre os elementos*/
    box-shadow: 0 0.21rem 0.5rem;
}

/*Estilizando a logo do Footer*/
footer .div-logo-footer img {
    width: 140px;
    /*Largura da imagem*/
    height: auto;
    /*Altura da imagem */


}

/*Estilizando o subtítulo do Footer*/
footer div h3 {
    color: #113e4e;
    /*Cor da letra*/
    font-size: 25px;
    /*Tamanho da letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    font-weight: 300;
    /*Peso/Espressura da letra*/

}

/*Estilizando o parágrafo do Footer*/
footer div p {
    color: #113e4e;
    /*Cor da letra*/
    font-size: 18px;
    /*Tamanho da letra*/
    font-family: Light 300;
    /*Fonte da letra (Google fonts)*/
    font-weight: 200;
    /*Peso/Espressura da letra*/
}

/*Estilizando os ícones do Footer*/
.div-sociais i {
    padding: 10px;
    /*Aplicando um respiro (padding) dentro dos ícones*/
    font-size: 20px;
    /*Tamanhos dos ícones*/
    background-color: antiquewhite;
    /*Cor de fundo*/

}


/*Aplicando o hover nos ícones*/
.div-sociais i:hover {
    background-color: #7e9991;
    /*Cor de fundo*/
    transition: 0.5s;
    /*Tempo de transição*/
}

/*Chamamos nossa âncora (a) para estilização*/
.div-list-footer a {
    text-decoration: none;
    /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: #113e4e; 
    /*Cor da Letra*/
}

/*Fim da estilização do Footer*/






















/* https://paletadecores.com/paleta/010300/314c53/5a7f78/bbdec6/f7f8fc/

.color1 { #d9881e }; cor laranja
.color2 { #ddc18b }; cor bege
.color3 { #113e4e }; cor azul escuro
.color4 { #748c94 }; cinza
.color5 { #b4cec4 }; azul claro
*/
